################################################################################
# This platform file should be used for Intel OneAPI builds on ESNZ Cascade
################################################################################

# Load environment variable pre-settings
include = $HERE/envars.cfg

# Override any of the input variables that we need to
$JULES_COMPILER = ifx
$JULES_MPI = mpi-dynamic
$JULES_NETCDF = netcdf
$JULES_NETCDF_INC_PATH = $NETCDF_FORTRAN_ROOT/include
$JULES_NETCDF_LIB_PATH = $NETCDF_FORTRAN_ROOT/lib
$JULES_LDFLAGS_EXTRA =
$JULES_REMOTE = local

# All dependency libraries are dynamically linked
$ncdf_libs_dynamic{?} = netcdff

# Now load the the build config settings based on the supplied environment variables.
include = $HERE/load_settings.cfg

# Disable checks for unintialised variables to prevent the memory
# sanitizer from tripping up in libc; generate AVX2 instructions
$fflags = $fflags -check nouninit -march=x86-64-v3
$ldflags = $ldflags -check nouninit -march=x86-64-v3
